<section id="section-about">
    <div id="section-title"><%=title%>:</div>
    <div class="card">
   <span id="section-subTitle-second">Students & Alumni of Brandeis University</span>
      <p>Our mission is to connect students and alumni from around the world, providing opportunities for networking, mentorship, and professional development. We believe that by working together, we can create meaningful change and make a difference in the lives of others.</p>
      <p>Whether you're a current student looking to expand your network and gain valuable experience, or an alum who wants to stay connected and give back to your alma mater, we invite you to join our community. Our events and programs are designed to meet the diverse needs and interests of our members, with opportunities for socializing, volunteering, and continuing education.</p>
      <p>We also believe in giving back to our community, and are proud to support a variety of local and international initiatives that align with our values. By getting involved with our association, you'll not only be connecting with fellow students and alumni, but also making a meaningful difference in the world around us.</p>
      <p>Thank you for visiting our website, and we hope you'll consider becoming a part of our community. If you have any questions or would like to learn more, please don't hesitate to reach out to us.</p>
    </div>
</section>
