<section id="section-index">
    <div id="section-title"><%=title%>:</div>
    <div class="card">
  <span id="section-subTitle-second">Students & Alumni of Brandeis University</span>
    <p>The Brandeis Students and Alumni Association is a vibrant community that offers lifelong opportunities for students and alumni to stay connected to Brandeis and each other</p>
    <p>We are a community of current students and alumni who are passionate about supporting and connecting with one another. Our association is dedicated to helping our members succeed in their academic and professional pursuits, and to creating a supportive and inclusive community that fosters personal and professional growth.</p>
    <p>Here are some of the ways we can support you:</p>
    <ul>
      <li><h4>Networking opportunities</h4><div> Our association hosts a variety of events throughout the year, including mixers, workshops, and other networking events that give our members the chance to connect with alumni and professionals in their fields of interest. We believe that building a strong network is key to success, and we're committed to helping our members make valuable connections.</div></li>
      <li><h4>Career development resources</h4><div>We provide our members with access to a range of resources and tools to help them develop their careers, including job search tips, resume and cover letter advice, and interview preparation strategies. Our association also partners with employers to offer internships and job opportunities to our members.</div></li>
      <li><h4>Community service projects</h4> <div>We believe in giving back to our communities, and our association organizes a variety of community service projects that provide our members with opportunities to make a positive impact in the world around us. We partner with a variety of nonprofit organizations to address a range of community needs.</div></li>
      <li><h4>Mentorship program</h4><div>Our association also offers a mentorship program that matches current students with alumni who are established in their fields. Our mentors provide guidance, advice, and support to our mentees as they navigate their academic and professional journeys.</div></li>
    </ul>
  </div>
</section>

