<section id="section-user">
<form action="/users/login" method="POST" id="user-form" class="card">
    <h1>Login</h1>
    <label for="inputEmail">Email</label>
    <input
      type="email"
      name="email"
      id="inputEmail"
      placeholder="Email"
      required
    />
    <label for="inputPassword">Password</label>
    <input
      type="password"
      name="password"
      id="inputPassword"
      placeholder="Password"
      required
    />
    <br/>
    <div><input type="submit" value="Submit"></input></div>
    <a href="/users/new">Don't have an account?</a>
  </form>
</section>
  